<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="row footer" th:fragment="footerFragment">
	<div class="col-12 col-lg-8 col-md-8 col-sm-12">
		<img src="/images/logo.jpg" class="img-fluid" />
		<p>©2020 Nastya's Bagdasarova<br />
		Online Platform
		</p>
	</div>
	<div class="col-12 col-lg-2 col-md-2 col-sm-12">
		<ul>
			<li><a href="/">Main</a></li>
			<li><a href="/exotic">Frame Up Exotic</a></li>
			<li><a href="/acrobatics">Acrobatics</a></li>
			<li><a href="/strip">Frame Up Strip</a></li>
			<li><a href="/contacts">Contacts</a></li>
		</ul>
	</div>
	<div class="col-12 col-lg-2 col-md-2 col-sm-12">
		<ul>
			<li><a href="https://www.instagram.com/stasy_mad/" target="_blank">Instagram</a></li>
			<li><a href="https://vk.com/stasymadoff" target="_blank">Vkontakte</a></li>
			<li><a href="https://www.youtube.com/channel/UCf-pzd5DYFS0c076WAgXYEA" target="_blank">Youtube</a></li>
		</ul>
	</div>

	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/dist/js/bootstrap.min.js"></script>
	
	
</div>




</html>